*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: black;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:lightgrey;
}
h1{
    font-size: 6rem;
}
p{
    font-size:4rem;
}

a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    color:lightslategray;
}