

@media(min-width:768px){
body{
    background-color:black;

}

.projects-container ul{
    height: 10vh;
    top: 0;
    display: flex;
    justify-content: space-around;

}
.projects-container ul li{
    display: inline-block;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.5rem;
    
    
    
    
}

.projects-div{
    display: flex;
    flex-direction: column;
    height:auto;
    width: 100%;
    font-family: 'Teko', sans-serif;
    
}
.projects-div p{
    font-family:Arial, Helvetica, sans-serif ;
}
.one,.two,.three,.four,.five{
    width:100%;
    display: flex;
   
    max-height: 75vh;
    flex-direction: row;
    justify-content: space-between;
    color:white;
    
}
.proj-img {
    display: block;
    border:2px solid black;
    max-height:65vh;
    max-width: 50%;
   
}

.one{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-content: space-between;
    

}

.one,.two,.three,.four{
    margin-bottom: 8rem;
}

    

.one h3,.two h3,.three h3,.four h3,.five h3{
    letter-spacing: .2rem;
    font-size: 1.5rem;
}

.one p,.two p,.three p,.four p,.five p{
 font-size: 1.5rem;
 
}

    

.proj-desc{
  max-height: 65vh;
  padding-left: 1rem;
}

span{
    font-size: 2rem;
    padding-right: 1rem;
    padding-bottom: 0;
  
}


span a{
    transition: .5s ;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5%;
    background-color:lightslategray;
    padding-left: .5rem;
    padding-right: .5rem;
}

span a:hover{
    background-color: darkslategrey;
}


.proj-img{
   flex:0 0 50%;
   background-size: cover;
   background-position: center;
   transition: transform 1s;
   
}

.img1{
background-image: url('../images/essence1.png');
transition:transform 1s ease-in;

}

.img1:hover{
    transform:translate(15rem) scale(1.5);
    cursor: pointer;
    animation-duration: 5s;
    background-image:url('../images/essence2.png');
    
    
    
}
.img2{
    background-image: url('../images/library1\ \(1\).png');
    transition:transform 1s ease-in;
    
    }
    
.img2:hover{
        transform:translate(15rem) scale(1.5);
        cursor: pointer;
        animation-duration: 5s;
        background-image:url('../images/library1\ \(2\).png');
        
        
        
    }
.img3{
        background-image: url('../images/phrase1.png');
        transition:transform 1s ease-in;
        
        }
        
        .img3:hover{
            cursor: pointer;
            transform:translate(15rem) scale(1.5);
            animation-duration: 5s;
            background-image:url('../images/phrase2.png');
            
            
            
        }
.img4{
            background-image: url('../images/form2.png');
            transition:transform 1s ease-in;
            
            }
            
            .img4:hover{
                cursor: pointer;
                transform:translate(15rem,-10rem) scale(1.5);
                animation-duration: 5s;
                background-image:url('../images/form3.png');
                
                
                
            }
.img5{
                background-image: url('../images/animals.png');
                transition:transform 1s ease-in;
                
                }
                
.img5:hover{
                    cursor: pointer;
                    transform:translate(15rem,-10rem) scale(1.5);
                    animation-duration: 5s;
                    background-image:url('../images/animals.png');
                    
                    
                    
                }

                .koaPic{
                    background-image: url('../images/koa1.png');
                    transition:transform 1s ease-in;
                    
                    }
                    
    .koaPic:hover{
                        cursor: pointer;
                        transform:translate(15rem,-10rem) scale(1.5);
                        animation-duration: 5s;
                        background-image:url('../images/koa1.png');
                        
                        
                        
                    }

    li a{
        text-decoration: none;
        color: white;
    }
}
    
        


/* small screens */
@media(max-width:767Px){
    
    body{
        background-color: black;
    }
    .projects-container ul li{
        display: inline-block;
        color: white;
        font-family: 'Alfa Slab One', cursive;
        font-size: 1rem;
    }
    .projects-div{
        display: flex;
        flex-direction: column;
        height:auto;
        width: 100%;
        font-family: 'Teko', sans-serif;
        
    }
    .projects-div p{
        font-family:Arial, Helvetica, sans-serif ;
    }
    .one,.two,.three,.four.five{
        width:100%;
        display: flex;
       
        min-height:100vh;
        flex-direction: column;
        justify-content: space-evenly;
        color:white;
        
    }
    h3{
        font-size: 1.7rem;
        letter-spacing: .3rem;
    }
    .proj-img {
        display: block;
        border:2px solid black;
        height:50vh;
        min-width: 100%;
       
    }
    
   
    
    .one,.two,.three,.four{
        margin-bottom:6rem;
    }
    
    
    span{
        font-size: 2.5rem;
        padding-right: .4rem;
        padding-bottom: 0;
      
    }
    
    
    span a{
        transition: .5s ;
        color: white;
        text-decoration: none;
        cursor: pointer;
        border-radius: 5%;
        background-color:lightslategray;
        padding-left: .2rem;
        padding-right: .2rem;
    }
    
    span a:hover{
        background-color: darkslategrey;
    }
    
    
    .proj-img{
       background-size: cover;
       background-position: center;
       transition: transform 1s;
       
    }
    
    
    .img1{
        background-image: url('../images/essence1.png');
        transition:transform 1s ease-in
        
        }
        
        .img1:hover{
            
            cursor: pointer;
            
            
            
        }
        .img2{
            background-image: url('../images/library1\ \(1\).png');
            transition:transform 1s ease-in
            
            }
            
        .img2:hover{
                
                cursor: pointer;
                
                
                
            }
        .img3{
                background-image: url('../images/phrase1.png');
                transition:transform 1s ease-in
                
                }
                
                .img3:hover{
                    cursor: pointer;
                    
                    
                    
                    
                }
        .img4{
                    background-image: url('../images/form2.png');
                    transition:transform 1s ease-in
                    
                    }
                    
                    .img4:hover{
                        cursor: pointer;
                        
                        
                        
                        
                    }
                    .img5{
                        background-image: url('../images/animals.png');
                        transition:transform 1s ease-in;
                        
                        }
                        
        .img5:hover{
                            cursor: pointer;
                            transform:translate(15rem,-10rem) scale(1.5);
                            animation-duration: 5s;
                            background-image:url('../images/animals.png');
                            
                            
                            
                        }
        
                        .koaPic{
                            background-image: url('../images/koa1.png');
                            transition:transform 1s ease-in;
                            
                            }
                            
            .koaPic:hover{
                                cursor: pointer;
                                transform:translate(15rem,-10rem) scale(1.5);
                                animation-duration: 5s;
                                background-image:url('../images/koa1.png');
                                
                                
                                
                            }
        
            li a{
                text-decoration: none;
                color: white;
            }
}
    
        
        
        
            @media(max-width:400px){
            span{
                font-size: 1.4rem;
            }
            .header-links{
                display: flex;
                justify-content: space-around;
            }

            .img1:hover,.img2:hover,.img3:hover,.img4:hover,.img5:hover{
                transition:none; 
            }
            .koaPic,.img5{
                transition: none;
            }
            .koaPic:hover,.img5:hover{
                transform: scale(1)
            }
            .proj-desc p, .proj-desc h3{
                color: white;
            }
        }
















